<link
  rel='stylesheet'
  href='https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css'
/>

<div class='flex flex-wrap justify-center'>
  <div class='bg-darkblue w-full rounded-t-lg mx-4'>
    <div
      class='relative flex flex-row justify-between min-w-0 break-words mt-2 px-2'
    >
      <div>
        <h1 class='text-ghostWhite text-lg underline'>{{title}}
        </h1>
      </div>
      <h4 class='text-xs text-ghostWhite'>
        Created on
        {{format_date date_created}}
        by
        {{user.username}}
      </h4>
    </div>
    <p class='text-ghostWhite p-2'>
      {{description}}
    </p>
  </div>
</div>

<form id='new-comment-form' class='card'>
  <div class='card-body'>
    <input type='hidden' name='post-id' value='{{id}}' />

    <label class='form-label' for='comment-body'>Comment</label>

    <textarea
      id='comment-body'
      name='comment-body'
      class='form-input'
    ></textarea>

    <button type='submit' class='btn'>Submit</button>
  </div>
</form>
<script src='/js/comments.js'></script>