<link
  rel='stylesheet'
  href='https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css'
/>


<div class="flex justify-between ">

  <h1 class='text-black text-xl p-2 m-2'>Hello, {{username}}</h1>

  <a href="/blogCreate" class="bg-teal shadow-lg text-sm text-ghostWhite py-2 px-4 my-2 mx-2 font-semibold hover:scale-105 rounded-full focus:outline-none focus:shadow-outline h-10">Create a New Blog</a>

</div>
  {{#each blogs as |blog|}}
      
    <div
      class='relative flex flex-col min-w-0 break-words w-full mb-6  mt-16'
    >
        <div class='bg-gray-100 p-2 m-2 shadow-2xl'>
          <div class='flex flex-wrap justify-center'>

            <div class='bg-darkblue text-left px-4 py-2 w-full rounded-2xl'>
              <div class="columns-2"> 
                <div>
                  <h1 class='text-ghostWhite text-2xl'>{{blog.title}}</a>
                  </h1>
                </div>
                <div>
                  <h1 class='text-ghostWhite text-xs'>
                    Created on
                    {{format_date blog.date_created}}
                  </h1>
                </div>
              </div>
              {{#if blog.description}}
              <div class="bg-gray-100 mx-auto p-4 m-2">
                <p class="text-base text-gray-800">{{blog.description}}</p>
              </div>
              {{/if}}
          </div>
                 <button><a href='api/blogs/blogEdit/{{blog.id}}' class="px-6" type="click">Edit post? </a> </button> 
        </div>
      </div>
    </div>

  {{/each}}
