<link
  rel='stylesheet'
  href='https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css'
/>

<!-- Conditional block to display blogs and comments if the user is logged in -->
{{#if logged_in}}
  <div class='bg-gray-100 px-8 py-4 mx-2 shadow-2xl'>
    <!-- Loop through each mapped blog -->
    {{#each mappedBlogs as |blog|}}
      <div class='flex flex-wrap justify-center'>
        <!-- Container for displaying individual blog entries -->
        <div class='bg-darkblue w-full rounded-t-lg mx-4'>
          <div
            class='relative flex flex-row justify-between min-w-0 break-words mt-2 px-2'
          >
            <div>
              <!-- Blog title -->
              <h1 class='text-ghostWhite text-lg underline'>{{blog.title}}</h1>
            </div>
            <!-- Blog creation date and creator information -->
            <h4 class='text-xs text-ghostWhite'>
              Created on
              {{format_date blog.date_created}}
              by
              {{user.username}}
            </h4>
          </div>
          <!-- Blog description -->
          <p class='text-ghostWhite p-2'>{{blog.description}}</p>
        </div>
      </div>

      <!-- Conditional block to display comments if available -->
      {{#if comments}}
        <div
          class='bg-darkblue py-2 mb-8 mx-4 flex justify-center flex-col items-center shadow-2xl'
        >
          <!-- Loop through each comment -->
          {{#each comments as |comment|}}
            <div class='border-round border-2 rounded-lg m-2'>
              <!-- Comment description -->
              <p
                class='text-left text-ghostWhite p-2 m-2'
              >{{comment.comment_description}}</p>
              <!-- Comment creator and creation date -->
              <p class='text-center text-ghostWhite text-xs p-2 m-2'>
                <span>~</span>Created by
                {{user.username}}
                on
                {{format_date date_created}}<span>~</span>
              </p>
            </div>
          {{/each}}
          <!-- Link to add a new comment -->
          <a
            class='bg-teal shadow-lg text-sm text-ghostWhite py-2 px-4 my-2 font-semibold hover:scale-105 rounded-full focus:outline-none focus:shadow-outline h-10 w-24'
            href='/api/blogs/{{blog.id}}'
          >Add a Comment</a>
        </div>
      {{else}}
        <!-- Display if there are no comments -->
        <div
          class='bg-darkblue py-2 mb-8 mx-4 flex justify-center flex-col items-center shadow-2xl'
        >
          <!-- Link to add a new comment -->
          <a
            class='bg-teal shadow-lg text-sm text-ghostWhite py-2 px-4 my-2 font-semibold hover:scale-105 rounded-full focus:outline-none focus:shadow-outline h-10 w-24'
            href='/api/blogs/{{blog.id}}'
          >Add a Comment</a>
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}